SECRET_KEY=your-super-secret-key
DEBUG=True

DB_NAME=zorvyn_finance
DB_USER=zorvyn_user
DB_PASSWORD=zorvyn_pass
DB_HOST=localhost
DB_PORT=5432

TEST_DB_NAME=zorvyn_test

JWT_ACCESS_LIFETIME_MINUTES=60
JWT_REFRESH_LIFETIME_DAYS=7